* {
	margin: 0;
	padding: 0;
}

body {
/*	position: relative;*/
/*	max-height: 100%;*/
	overflow: scroll;
}

main {
/*	background: url("../icons/plane_flight_sunset_182666_1366x768.jpg") no-repeat;*/
	width: 100%;
/*	height: 80vh;*/
	background-size: cover;
}

.navbar {
	background-color: white !important;
/*	position: fixed;*/
}

.navbar-brand {
	color: rgb(189, 77, 75);
	font-family: Garamond;
	letter-spacing: 0.25em;
/*	font-family: "pw_sans";*/
	font-size: 2.5em !important;
}

.navbar-nav > li > a {
	color: rgba(30, 20, 20, 1.0) !important;
	font-size: 1.1em;
}

.home-main-cont {
	display: flex;
	justify-content: center;
	align-items: center;
}

.home-main-cont > div {
	flex: 60%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home-main-cont > div > span {
	width: 75%;
	display: flex;
	flex-direction: column;
	position: relative;
}

.home-main-cont > div > div {
	width: 50%;
/*	display: flex;
	flex-direction: row;*/
}

.home-main-cont > div > div > a {
	flex: 50%;
}

.home-main-cont > div > span > h1 {
	color: rgba(189, 77, 75, 0.25);
	font-family: Garamond;
/*	font-weight: bold;*/
	letter-spacing: 0.45em;
	font-size: 10em !important;
	position: absolute;
	margin: -0.4em 0 0 0.25em;
	text-align: center;
/*	opacity: 0.2;*/
	z-index: 0;
}

.home-main-cont > div > span > p {
	color: rgba(30, 30, 30, 1.0);
	font-family: shink;
/*	font-family: "pw_sans";*/
/*	background-color: white;*/
	padding-left: 0.25em;
	word-spacing: 0.1em;
/*	letter-spacing: 0.01em;*/
	font-size: 4em;
	text-align: center;
	z-index: 1;
/*	-webkit-text-stroke: 0.02em white;	*/
	text-shadow: 2px 2px 0px white;
}

.home-main-cont > div > span > div {
	background-color: rgba(150, 150, 150, 1.0);
	box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.1);
	width: 100%;
	height: 2px;
	border-radius: 5px;
}

.home-main-cont > span {
	flex: 40%;
	height: 100%;
	margin-top: 60px;
	display: flex;
/*	justify-content: center;*/
	align-items: center;
	flex-wrap: wrap;
	list-style: none;
}

.home-main-cont > span > span {
	display: flex;
}

#air-img-1 {
	width: 510px;
	height: 300px;
	background-image: url("../icons/plane_flight_sunset_182666_1366x768.jpg");	
	border: 5px solid rgba(225, 220, 225, 1.0);
	border-radius: 75px;
}

#air-img-2 {
	width: 250px;
	height: 300px;
	background-image: url("../icons/4686118.jpg");	
	border: 5px solid rgba(225, 220, 225, 1.0);
	border-radius: 50px;
}

#air-img-3 {
	width: 250px;
	height: 300px;
	background-image: url("../icons/10878268.jpg");	
	border: 5px solid rgba(225, 220, 225, 1.0);
	border-radius: 50px;
}

.img {
	margin: 5px;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 2px 3px 15px 1px rgba(0, 0, 0, 0.5);
}

.btn-outline-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: rgb(189, 77, 75);
  --bs-btn-bg: rgba(189, 77, 75, 0.1);
  --bs-btn-hover-color: white !important;
  --bs-btn-border-color: rgba(189, 77, 75, 0.5);
  --bs-btn-hover-bg: rgb(189, 77, 75);
  --bs-btn-hover-border-color:  rgba(189, 77, 75, 0.5);
  --bs-btn-active-bg: black;
}
.btn-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: white;
  --bs-btn-bg: rgba(189, 77, 75, 1);
  --bs-btn-hover-color: white !important;
  --bs-btn-border-color: rgba(189, 77, 75, 0.5);
  --bs-btn-hover-bg: rgb(189, 77, 75);
  --bs-btn-hover-border-color:  rgba(189, 77, 75, 0.5);
  --bs-btn-active-bg: rgba(169, 57, 55, 1);
}

.btn-link {
/*  --bs-btn-hover-color: white !important;*/
/*  --bs-btn-hover-bg: rgba(0, 0, 0, 0.0);
  --bs-btn-hover-border-color: rgba(0, 0, 0, 1);*/
}

.btn-outline-secondary {
  --bs-btn-font-weight: 600;
  --bs-btn-bg: rgba(150, 150, 150, 0.1);
  --bs-btn-border-color: rgba(108, 117, 125, 0.5);
}



.btn-home {
	box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.15);
/*	border-radius: 50px;*/
}


.offcanvas {
  width: 26%;
  height: 500px !important;
  border-radius: 5px;
}

.form-control {
	outline: none;
	border: 2px solid rgba(50, 50, 50, 1.0);
	border-width: 0 0 2px 0;
	border-radius: 0;
	box-shadow: none !important;
}

.offcanvas-title {
	color: rgba(50, 50, 50, 1.0) !important;
	cursor: pointer;
}

.nav-link {
	color: rgba(150, 150, 150, 1.0) !important;
	font-weight: 500;
	font-size: 1.1em !important;
	cursor: pointer;
}

.active {
	text-decoration: underline 0.1em rgba(30, 20, 20, 1.0) !important;
	text-underline-offset: 0.5em;
}

.active-sign {
	color: rgb(189, 77, 75) !important;
	border: solid rgb(189, 77, 75) !important;
	border-width: 2px 2px 0 2px !important;
	border-bottom-width:  0px white !important;
	text-decoration: none;
/*	text-decoration: underline 0.1em rgba(30, 20, 20, 1.0) !important;*/
/*	text-underline-offset: 0.5em;*/
/*	outline: 2px black !important;*/
}

.nav-tabs {
	border: solid rgb(189, 77, 75) !important;
	border-width: 0px 0px 2px 0px !important;
}

.nav-link:hover {
/*	color: rgba(255, 255, 255, 1.0) !important;*/
/*	border-color: rgba(0, 0, 0, 1.0) !important;*/
/*	border-width: 0px 0px 2px 0px !important;*/
/*	border-bottom-width: 2px;*/
}

/*.nav-item::after, .nav-item::before {
	box-sizing: inherit !important;
	background-color: black !important;
}*/

/*.auth-page {
	width: 50%;
	overflow: hidden;
}*/

.auth-page-col {
	width: 100%;
	overflow: hidden;
}

.hide {
	display: none;
}


#schedule-sec, #book-sec, #contact-sec {
	width: 100%;
	min-height: 700px;
	height: 100vh;
	max-height: 100vh;
	background-color: rgba(50, 50, 50, 1.0);
	padding: 150px 8em 0 8em;
}


#contact-sec {
	background-color: rgb(50, 151, 164);
}

.table-wrpr {
	border: 2px solid white;
	border-radius: 5px;
	overflow: hidden;
}

table{
	margin: 0 !important;
}

th {
	color: rgb(144, 62, 68);
}

.sched-h4{
	font-family: Arial;
	color: rgb(224, 162, 168);
} 

.sched-main-hdng {
	font-family: Raleway;
}

.page-item > a{
	background-color: rgba(50, 50, 50, 1.0) !important;
	border: none;
}


#book-sec {
	background-color: rgb(144, 62, 68);
	display: flex;
	justify-content: center;
	align-items: center;
}

.booking-form-wrpr {
	width: 100%;
	height: 500px;
	background-color: rgba(245, 245, 245, 1.0);
	margin-top: -50px;
	padding: 4em;
	border: 2px solid rgba(205, 205, 205, 1.0);
	border-radius: 15px;
	box-shadow: 3px 5px 15px 1px rgba(0, 0, 0, 0.25);
}


.row > div {
/*	margin-top: 1.5em;*/
}

.row .form-control {
	background-color: transparent;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.form-checkbox input[type="radio"] {
	width: 17px;
	height: 17px;
}